<div class="quote">
 <blockquote>Your quote goes here</blockquote>
 <cite>Attribution</cite>
 </div>

 You can add an optional image tag. The image must be linked from an external
 site and not be in the repository.

 <img src="http://your_image_link.jpg">
