





  body {
    background-color:#DEB887;
}
h3 {
    text-decoration: underline;
}


div {
    border-radius: 5px;
}

#header {
    z-index: 1;
    position: fixed;
    width: 97.5%;
    margin-top: -20px;
    height: 60px;
    background-color: #668284;
    margin-bottom: 30px;
}

#name {
    float:left;
    margin-left: 5px;
    padding-top: 5px;
    font-size: 16px;
    font-family: Verdana, sans-serif;
    color: #ffffff;
}

#email{
    float:right;
    margin-right: 5px;
    padding-top: 5px;
    font-size: 16px;
    font-family: Verdana, sans-serif;
    color: #ffffff;
}

h4 {
    margin-left: 5px;
    margin-bottom: 15px;
    font-family: Verdana, sans-serif;
}
img{
   margin-top: 40px;
   padding: 5px;
}

.right p {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -10px;
    font-family: Garamond, serif;
    color: #000000;
}

li {
    list-style-type: square;
}

a:hover {
    font-weight: bold;

}

.left {
    position: relative;
    float: left;
    margin-top: 45px;
    width: 20%;
    height: 1220px;
    background-color: #B9D7D9;
    margin-bottom: 100px;
    padding: 15px;
}

.right {
    position: relative;
    float: right;
    margin-top: 45px;
    width: 90%;
    height: 400px;
    background-color: #ffffff;
    margin-bottom: 10px;
}

#footer {
    position: relative;
    height: 50px;
    background-color: #668284;
    clear: both;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
}

#footer p {
    position: relative;
    padding-top: 1px;
    }


@media all and (max-width: 1024px) {
    body {
        background-color: lavender;
    }
ul {list-style-image: url('sqpurple.gif');}
         li {
    padding: 5px;

     width: 250%;
     margin-bottom: 5px;
}



@media all and (max-width: 778px) {
  body {
        background-color: lavender;
    }
 .left {

    height: auto;
    float: none;
    margin-top: 5px;
    width:250%;
    background-color: #FFFACD;
    margin-bottom: 5px;

 }



